apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
type: Opaque
stringData:
  # 아래 api-token 값을 수정한 후 아래 명령어로 배포해주세요. (이 파일은 Git에 푸시하지 마세요!)
  # kubectl apply -f k8s/cert-manager/cloudflare-secret.yaml.example
  api-token: "여기에_토큰값을_입력하세요"
